<h1>REACTIVE FORM</h1>

<form [formGroup]="authReactiveForm" (submit)="onSubmit()">
	<div class="input-item"> <label for="name">Name</label>
		<input type="text" id="name" formControlName="name" />
		<div class="error" *ngIf="isControlInvalid('name')">
			Inavalid name
		</div>
	</div>

	<div class="input-item"><label for="age">Age</label>
		<input type="number" id="age" formControlName="age" />
		<div class="error" *ngIf="isControlInvalid('age')">
			Inavalid age
		</div>
	</div>

	<div class="input-item"><label for="email">E-mail</label>
		<input type="text" id="email" formControlName="email" />
		<div class="error" *ngIf="isControlInvalid('email')">
			Inavalid email
		</div>
	</div>

	<button type="submit" class="add-btn" [disabled]='!authReactiveForm.valid'>SUBMIT</button>

</form>

<ul *ngFor="let person of persons">
	<li>
		<div class="value-list">Name: {{person.name}}</div>
		<div class="value-list">Age: {{person.age}}</div>
		<div class="value-list">E-mail: {{person.email}}</div>
	</li>
</ul>